# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Sanal ortam
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE dosyaları
.vscode/
.idea/
*.swp

# Derleme çıktıları
dist/
build/
*.spec
